* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 1280px;
}

#contenedor {
    display: flex;
    flex-direction: column;
    height: 700px;
    border-radius: 10px;
    margin: 200px;
    box-shadow: 2px 2px 2px 2px rgb(87, 99, 87);
}

img {
    display: flex;
    justify-content: center;
    height: 350px;
    border-radius: 10px 10px 0 0;
}

.jugador1 {
    display: flex;
    padding: 20px;
    gap: 100px;
}

.jugador2 {
    display:flex;
    padding-top: 110px;
}


.reset{
    
    justify-content: center;
    align-self: center;
    background-color: rgb(63, 119, 63);
    color: antiquewhite;
    border: none;
    border-radius: 0 5px 0 0;
    padding: 20px;
    font-weight: bold;
}

.player1{
    background-color:rgb(73, 73, 206);
    color: white;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 20px;
    font-weight: bold;
}
.player2{
    background-color:rgb(226, 101, 122);
    color: white;
    border: none;
    padding: 20px;
    font-weight: bold;
}

.max {
    display: flex;
    padding: 20px;
    margin: 10px;
    border: 10px;
    gap: 20px;
}

.max label {
    font-weight: bold;
    font-size: 25px;
}

span {
    display: flex;
    justify-content: center;
    align-content: space-between;
    font-size: 50px;
}